<% @title = "Canteen" %>
<div id="content">
	<div class="graytitle">
		<%= @canteen.name %>
	</div>
	<ul class="pageitem">
		<li class="textbox">
			<p>
				<%= image_tag(@canteen.image_url) %>
			</p>
		</li>
		<li class="textbox">
			<span class="name"><%= simple_format(@canteen.location) %></span><span class="ext"></span>
			<br>
			<span class="name"><%= @canteen.no_of_stalls %> stalls</span><span class="ext"></span>
			<br>
			<span class="name"><%= simple_format(@canteen.operating_hours) %></span><span class="ext"></span>
			<!--
			<p>
			<%= simple_format(@canteen.announcement) %>
			</p>
			-->
		</li>
	</ul>
	<% if admin? %>
	<%= link_to 'Edit', edit_canteen_path(@canteen) %> |
	<%= link_to 'Back', canteens_path %>
	<% end %>
</div>