<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @canteen.name %>
</p>

<p>
  <b>Location:</b>
  <%= @canteen.location %>
</p>

<p>
  <b>No of stalls:</b>
  <%= @canteen.no_of_stalls %>
</p>

<p>
  <b>Operating hours:</b>
  <%= @canteen.operating_hours %>
</p>

<p>
  <b>Image url:</b>
  <%= @canteen.image_url %>
</p>

<p>
  <b>Announcement:</b>
  <%= @canteen.announcement %>
</p>


<%= link_to 'Edit', edit_canteen_path(@canteen) %> |
<%= link_to 'Back', canteens_path %>
