<% @title = "Listing outlets" %>
<div class="evertable">
	<table style="margin-left:5px; margin-right:5px">
		<tr>
			<th>Name</th>
			<th>Location</th>
			<th>Operating hours</th>
			<th>Contact</th>
			<th>Image url</th>
			<th>Announcements</th>
			<th>Actions</th>
		</tr>
		<% @outlets.each do |outlet| %>
		<tr>
			<td><%= outlet.name %></td>
			<td><%= outlet.location %></td>
			<td><%= outlet.operating_hours %></td>
			<td><%= outlet.contact %></td>
			<td><%= outlet.image_url %></td>
			<td><%= outlet.announcements %></td>
			<td><%= link_to 'Show', outlet %>
			<%= link_to 'Edit', edit_outlet_path(outlet) %>
			<%= link_to 'Destroy', outlet, :confirm => 'Are you sure?', :method => :delete %></td>
		</tr>
		<% end %>
	</table>
</div>
<br />
<%= link_to 'New Outlet', new_outlet_path %> 