<% @title = "Stall" %>
<div id="content">
	<div class="graytitle">
		<%= @stall.name %>
	</div>
	<ul class="pageitem">
		<li class="textbox">
			<p>
				<%= image_tag @stall.image_url %>
			</p>
		</li>
		<li class="textbox">
			<span class="name"><%= @stall.location %></span>
			<span class="ext"></span>
			<br>
			<br>
			<span class="name">Price range: <%= @stall.price_range %></span>
			<span class="ext"></span>
		</li>
	</ul>
	<ul class="pageitem">
		<%= simple_format(@stall.announcement) %>
	</ul>
	<% if admin? %>
	<%= link_to 'Edit', edit_stall_path(@stall) %> |
	<%= link_to 'Back', stalls_path %>
	<% end %>
</div>