<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="keywords" content="NUS,University,National University of Singapore, students,alumni,parents,family,visitors,computing,administration,campus,faculty,staff,academics,research,libraries,technology,outreach,education,learning,degrees,diversity,teaching,service, Singapore, Asia">
		<meta name="description" content="Unofficial Web Site of the National University of Singapore - a research-intensive university with an entrepreneurial dimension, NUS is ranked consistently as one of the world's top universities.">
		<meta name="viewport" content = "user-scalable=no, width=device-width">
		<link rel="apple-touch-icon" href="images/mugs and grubs.png"/>
		<!--<link rel="apple-touch-icon" href="http://m.ua.edu/i/images/iphone-icon.png">-->
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<title>NUS EverMobile Site</title>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="nameplate"></div>
		<div id="topbar">
			<div id="title">
				NUS
				<br>
				<%= @title %>
			</div>
			<div class="nav-button right">
				<a class="noeffect" href="search.html"></a>
			</div>
		</div>
		<div id="searchbar">
			<%= link_to "Search", "/search/index" %>
		</div>
		<%= yield %>
	</body>
</html>
